{% extends 'gerenciamento/base.html' %}

{% block title %}Funcionários{% endblock %}

{% block content %}
<h1>Funcionários</h1>
<a href="/funcionario/create/">Adicionar Funcionário</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Salário</th>
            <th>Data de Contratação</th>
        </tr>
    </thead>
    <tbody>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.email }}</td>
            <td>{{ funcionario.cargo }}</td>
            <td>{{ funcionario.salario }}</td>
            <td>{{ funcionario.data_contratacao }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
