{% extends 'gerenciamento/base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}
<h1>Produtos</h1>
<a href="{% url 'criar_produto' %}">Adicionar Produto</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Ações</th> 
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.categoria.nome }}</td>
            <td>
                <a href="{% url 'editar_produto' produto.id %}">Editar</a> | 
                <a href="{% url 'excluir_produto' produto.id %}" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
            </td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
