<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lanchonete{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gerenciamento/style.css' %}">
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/cliente/">Clientes</a></li>
            <li><a href="/categoria/">Categorias</a></li>
            <li><a href="/produto/">Produtos</a></li>
            <li><a href="/funcionario/">Funcionários</a></li>
            <li><a href="/mesa/">Mesas</a></li>
            <li><a href="/pedido/">Pedidos</a></li>
        </ul>
    </nav>

    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    
    <script src="{% static 'gerenciamento/script.js' %}"></script>
</body>
</html>
