{% extends 'gerenciamento/base.html' %}

{% block title %}Início{% endblock %}

{% block content %}
    <div class="welcome-container">
        <h1>Bem-vindo à Lanchonete!</h1>
        <p class="intro-text">Sistema para gerenciamento de pedidos, mesas e produtos.</p>
        <p class="system-description">Nosso sistema foi desenvolvido para proporcionar uma gestão mais ágil e eficiente das operações da lanchonete. Com ele, você poderá administrar facilmente as mesas, os pedidos e os produtos, garantindo uma experiência mais fluida e organizada para você e seus clientes. Explore todas as funcionalidades e maximize a eficiência do seu atendimento!</p>
    </div>

    <!-- Rodapé com direitos reservados -->
    <footer class="footer">
        <p>&copy; 2024 Lanchonete. Todos os direitos reservados.</p>
    </footer>
{% endblock %}
