{% extends 'gerenciamento/base.html' %}

{% block title %}Clientes{% endblock %}

{% block content %}
<h1>Clientes</h1>
<a href="/cliente/create/">Adicionar Cliente</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereço</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.endereco }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
