{% extends 'gerenciamento/base.html' %}

{% block title %}Categorias{% endblock %}

{% block content %}
<h1>Categorias</h1>
<a href="/categoria/create/">Adicionar Categoria</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.nome }}</td>
            <td>{{ categoria.descricao }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
