{% extends 'gerenciamento/base.html' %}

{% block title %}Pedidos{% endblock %}

{% block content %}
<h1>Pedidos</h1>
<a href="{% url 'criar_pedido' %}">Adicionar Pedido</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Mesa</th>
            <th>Funcionário</th>
            <th>Data</th>
            <th>Preço Total</th>
            <th>Descrição</th> 
            <th>Ações</th> 
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.cliente.nome|default:"N/A" }}</td>
            <td>{{ pedido.mesa.numero|default:"N/A" }}</td>
            <td>{{ pedido.funcionario.nome }}</td>
            <td>{{ pedido.data_pedido }}</td>
            <td>{{ pedido.preco_total }}</td>
            <td>{{ pedido.descricao|default:"Sem descrição" }}</td> 
            <td>
                <a href="{% url 'editar_pedido' pedido.id %}">Editar</a> | 
                <a href="{% url 'excluir_pedido' pedido.id %}" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
            </td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
